<script>
import axios from "axios";

export default {
  data() {
    return {
      country: [],
      userinput: "",
    };
  },
  methods: {
    onEnter: function () {
      console.log("Hello world");
      console.log(this.userinput);

      let body = {
        query: `
          query($code: ID!) {
            country(code: $code) {
              name
              capital
              currency
              phone
              languages {name}
              continent {code name}
            }}`,
        variables: { code: this.userinput },
      };
      let options = { headers: { "Content-Type": "application/json" } };
      axios
        .post("https://countries.trevorblades.com/graphql", body, options)
        .then((res) => {
          /*console.log(res.data);*/
          this.queryresult = res.data.data.country;
          console.log(this.queryresult);
        })
        .catch((error) => {
          console.log(error.response.data.error);
        });
    },
  },
};
</script>

<template>
  <label for="country">Country</label>
  <input
    type="text"
    placeholder="enter country code..."
    v-model="userinput"
    @keyup.enter="onEnter"
  />
  <p>{{ country }}</p>
</template>

<style></style>
